<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About FinTech</title>
    <link rel="stylesheet" href="{% static 'CSS/about_fintech.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <!-- Navbar -->
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Rapyd Banking</label>
        <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Login/Signup</a></li>
        </ul>
    </nav>

    <!-- About -->

    <div class="container">
        <h1>About</h1>
        <div class="contentBody">
            <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, incidunt laborum officia temporibus hic rerum sapiente ipsum earum reiciendis maxime quae doloremque. Ea optio itaque nisi similique aperiam quo, repellat odio natus sapiente magni voluptates excepturi modi nulla dolor quas.</h3>
            <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, incidunt laborum officia temporibus hic rerum sapiente ipsum earum reiciendis maxime quae doloremque. Ea optio itaque nisi similique aperiam quo, repellat odio natus sapiente magni voluptates excepturi modi nulla dolor quas.</h3>
            <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, incidunt laborum officia temporibus hic rerum sapiente ipsum earum reiciendis maxime quae doloremque. Ea optio itaque nisi similique aperiam quo, repellat odio natus sapiente magni voluptates excepturi modi nulla dolor quas.</h3>
        </div>
    </div>

    <!-- Footer -->

    <footer>
        <h4>Powered by climateFinTech ©️ 2022</h4>
    </footer>
    
</body>
</html>