{% load static %}
<html>

<head>

  <title>replit</title>
  <link href="{% static '/CSS/index.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    {% include 'navbar.html' %}
  <div class="main-wrapper">
    {% comment %} <div class="main-heading">
       <i>CLIMATEFINTECH</i>
    </div>
    <div class="main-content">
       powered by Rapyd
    </div>
     {% endcomment %}
    <div class="headings">
       PLATFORMS
    </div>      
    <div class="platforms">
        <div class="platform">
          <a href="{% url 'climatetech:home' %}"> 
            <div class="content">
             Climate tech
            </div>
          </a>
        </div>
        <div class="platform">
           <a href="{% url 'fintech:home' %}"> 
            <div class="content">
             Fintech
            </div>
          </a>
        </div>
        <div class="platform">
           <a href="{% url 'store:home' %}"> 
            <div class="content">
             store
            </div>
          </a>
        </div>
        <div class="platform">
            <a href="{% url 'blogs:home' %}"> 
             <div class="content">
              Blogs
             </div>
           </a>
         </div>
     </div>    
  </div>
  {% include 'footer.html' %}
</body>

</html>
