{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapyd </title>
    <link rel="stylesheet" type="text/css" href="{% static '/CSS/userProfile.css' %}">
</head>
<body>
    <div class="wrapper">
        <nav>
          <input type="checkbox" id="show-search" />
          <input type="checkbox" id="show-menu" />
          <label for="show-menu" class="menu-icon"
            ><i class="fas fa-bars"></i
          ></label>
          <div class="content">
            <div class="logo"><a href="https:www.Rapyd.net">Rapyd</a></div>
            <ul class="links">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'index' %}">About</a></li>
              <li>
                <a href="{% url 'index' %}" class="desktop-link">Platforms</a>
                <input type="checkbox" id="show-features" />
                <label for="show-features">Platforms</label>
                <ul>
                  <li><a href="{% url 'climatetech:home' %}"> Climate </a></li>
                  <li><a href="{% url 'fintech:home' %}"> Fintech </a></li>
                  <li><a href="{% url 'store:home' %}"> Store </a></li>
                  <li><a href="{% url 'blogs:home' %}"> Blogs </a></li>
                </ul>
              </li>
              <li><a href="{% url 'FAQ' %}">FAQ</a></li>
              <li><a href="{% url 'HelpDesk' %}">Help</a></li>
              {% if user.is_authenticated %}
              <li><a href="{% url 'UserProfile' request.user.username %}">Profile</a></li>
              <li><a href="{% url 'Logout' %}">Logout</a></li>
              {% else %} 
              <li><a href="{% url 'Login' %}">Login/Signup</a></li>
              {% endif %}
              {% comment %} <li>
                <a href="{%%}" class="desktop-link">Profile</a>
                <input type="checkbox" id="show-services" />
                <label for="show-services">Profile</label>
                <ul>
                  <li><a href="#">
                    <h5>John Doe</h5>
                    <small><em>Web Developer</em></small>
                  </a></li>
                </ul>
              </li> {% endcomment %}
              {% if verified %}
              <li style="color:white; padding: 0 20px; font-weight:bold; display:flex;align-items:center;" 
              onMouseOver="this.style.background='#323c4e'" 
              onMouseOut="this.style.background='transparent'">{{ Leaf }} <i class="ri-leaf-fill"></i> Points</li>
              {% endif %}
            </ul>
          </div>
          <label for="show-search" class="search-icon"
            ><i class="fas fa-search"></i
          ></label>
          <form action="#" class="search-box">
            <input
              type="text"
              placeholder="Type Something to Search..."
              required
            />
            <button type="submit" class="go-icon">
              <i class="fas fa-long-arrow-alt-right"></i>
            </button>
          </form>
        </nav>
    </div>
    
</body>
</html>
